html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.article {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.7;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    border: thin 1px darkorange;
    border-radius: 20px;
    padding: 1%;
    background: url("https://i.postimg.cc/8CD19QYT/Burj-Al-Arab.jpg");
    background-size: cover;
}

.article__decorated {
    color: azure;
}

.article__hotel {
    line-height: 2.0;
}

.article__link {
    background-color: darkorange;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.article__link:hover {
    background-color: rgb(52, 67, 131);
    border-bottom: 1px solid;
    outline: none;
}

.article__link:active {
    background-color: lightblue;
}